@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
.index-page__wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template: "logo add" 1fr "search search" 1fr "footer footer" 1fr/1fr 1fr; }

.index-page__logo {
  align-self: start;
  justify-self: start;
  margin: 3rem 0 0 3rem; }

.index-page__add-button {
  grid-area: add;
  background-color: #DAE7F1;
  color: #394F60;
  border: none;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: transform ease .1s;
  padding: 0 2.5rem;
  width: 16rem;
  align-self: start;
  justify-self: end;
  margin: 3rem 3rem 0 0; }
  .index-page__add-button img, .index-page__add-button svg {
    width: 2rem; }
  .index-page__add-button:disabled {
    cursor: not-allowed; }
    .index-page__add-button:disabled img {
      opacity: .5; }
  .index-page__add-button:active {
    transform: scale(0.9); }
  .index-page__add-button img, .index-page__add-button svg {
    margin-right: 1rem; }
  .index-page__add-button span {
    flex-grow: 1; }
  .index-page__add-button path {
    stroke: #7F9CB3; }

.index-page__search-wrapper {
  grid-area: search;
  background-color: #90B7D5;
  color: #263540;
  align-self: start;
  display: grid;
  grid-template: "label label" 1fr "input button" 1fr/1fr auto;
  width: 60%;
  max-width: 70rem;
  padding: 4rem 10rem 6rem 10rem;
  border-radius: 3rem; }

.index-page__search-label {
  grid-area: label; }

.index-page__search-input {
  grid-area: input;
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  border-radius: 1rem 0 0 1rem; }
  .index-page__search-input::placeholder {
    color: #E5E5E5; }
  .index-page__search-input:focus {
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 3px #DAE7F1; }

.index-page__search-button {
  grid-area: button;
  border: none;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: transform ease .1s;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
  height: 4rem;
  background-color: #DAE7F1; }
  .index-page__search-button img, .index-page__search-button svg {
    width: 2rem; }
  .index-page__search-button:disabled {
    cursor: not-allowed; }
    .index-page__search-button:disabled img {
      opacity: .5; }
  .index-page__search-button:active {
    transform: scale(0.9); }
  .index-page__search-button img {
    width: 1rem; }

.index-page__footer {
  grid-area: footer;
  align-self: end;
  margin-bottom: 1rem;
  color: #7F9CB3; }

.index-page__background-image {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: -1; }

.not-found-page__wrapper {
  color: #394F60;
  font-size: 2em;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: 50fr 15fr 20fr 15fr;
  align-items: center;
  justify-content: center; }
  .not-found-page__wrapper p {
    align-self: start; }
  @media (min-width: 600px) {
    .not-found-page__wrapper {
      margin-left: 30vw;
      display: flex;
      flex-direction: column; }
      .not-found-page__wrapper p {
        margin: 5vh 1em 10vh 1em;
        align-self: normal; } }

.not-found-page__background-image {
  height: 60vmin;
  z-index: -1;
  justify-self: center; }
  @media (min-width: 600px) {
    .not-found-page__background-image {
      position: absolute;
      right: 35%;
      top: 50%;
      transform: translateY(-50%); } }

.not-found-page__header {
  color: #7F9CB3;
  font-size: 1.5em;
  font-weight: 400; }

.not-found-page__link {
  color: #7F9CB3;
  text-decoration: underline; }
  .not-found-page__link:hover {
    color: #394F60; }

.add-page__wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: start;
  justify-items: stretch;
  grid-template: "logo form ." auto ". form ." 1fr /1fr 2fr 1fr;
  color: #394F60; }
  .add-page__wrapper input, .add-page__wrapper textarea {
    color: #394F60; }

.add-page__logo {
  grid-area: logo;
  align-self: start;
  justify-self: start;
  margin: 3rem 0 0 3rem; }

.add-page__form {
  grid-area: form;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.add-page__background-image {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: -1; }

.memo-add__form-grid {
  display: grid;
  grid-template: "expires-label expires" auto "pin-label pin" auto "pin-error pin-error" auto "confirm-label confirm" auto "confirm-error confirm-error" "button button" / 1fr 2fr;
  align-self: center; }

.memo-add__row {
  margin-top: 3rem; }
  .memo-add__row--tight {
    margin-top: 1.5rem; }
  .memo-add__row--validation {
    margin-top: 0.5rem;
    text-align: center; }

.memo-add__url {
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  opacity: .7; }
  .memo-add__url::placeholder {
    color: #E5E5E5; }
  .memo-add__url input:focus:not(.valid.modified):not(.invalid)s {
    box-shadow: inset 0 0 0 1px #90B7D5; }

.memo-add__title input {
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none; }
  .memo-add__title input::placeholder {
    color: #E5E5E5; }

.memo-add__title:not(.valid.modified):not(.invalid) input:focus {
  box-shadow: inset 0 0 0 1px #90B7D5; }

.memo-add__text {
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  flex-grow: 1;
  padding: 2rem; }
  .memo-add__text::placeholder {
    color: #E5E5E5; }
  .memo-add__text input:focus:not(.valid.modified):not(.invalid)s {
    box-shadow: inset 0 0 0 1px #90B7D5; }

.memo-add__label {
  justify-self: end;
  align-self: center;
  margin-right: 1.5rem; }
  .memo-add__label--expires {
    grid-area: expires-label;
    white-space: nowrap; }
  .memo-add__label--pin {
    grid-area: pin-label; }
  .memo-add__label--confirm {
    grid-area: confirm-label; }

.memo-add__expires-date {
  grid-area: expires;
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  width: 17rem;
  padding: 0;
  text-align: center; }
  .memo-add__expires-date::placeholder {
    color: #E5E5E5; }
  .memo-add__expires-date input:focus:not(.valid.modified):not(.invalid)s {
    box-shadow: inset 0 0 0 1px #90B7D5; }
  .memo-add__expires-date:disabled {
    color: #E5E5E5; }

.memo-add__pin {
  grid-area: pin;
  width: 17rem; }
  .memo-add__pin input {
    height: 4rem;
    padding: 0 2rem;
    border: none;
    border-radius: 1rem;
    outline: none; }
    .memo-add__pin input::placeholder {
      color: #E5E5E5; }
  .memo-add__pin:not(.valid.modified):not(.invalid) input:focus {
    box-shadow: inset 0 0 0 1px #90B7D5; }
  .memo-add__pin input {
    text-align: center; }
  .memo-add__pin--confirm {
    grid-area: confirm; }

.memo-add__pin-error {
  grid-area: pin-error; }

.memo-add__confirm-error {
  grid-area: confirm-error; }

.memo-add__add-button {
  grid-area: button;
  border: none;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: transform ease .1s;
  padding: 0 2.5rem;
  color: #33580E;
  background-color: #D7F4B9;
  margin-bottom: 3rem; }
  .memo-add__add-button img, .memo-add__add-button svg {
    width: 2rem; }
  .memo-add__add-button:disabled {
    cursor: not-allowed; }
    .memo-add__add-button:disabled img {
      opacity: .5; }
  .memo-add__add-button:active {
    transform: scale(0.9); }
  .memo-add__add-button img, .memo-add__add-button svg {
    margin-right: 1rem; }
  .memo-add__add-button span {
    flex-grow: 1; }

.preview-page__wrapper {
  display: grid;
  grid-template: "logo main menu" auto ". main ." 1fr / 1fr 2fr 1fr;
  height: 100vh; }

.preview-page__logo {
  grid-area: logo;
  align-self: start;
  justify-self: start;
  margin: 3rem 0 0 3rem; }

.preview-page__loader {
  position: absolute;
  width: 20vmin;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.preview-page__background-image {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: -1; }

.preview-page__mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F4F8FB;
  opacity: .9;
  visibility: collapse; }
  .preview-page__mask--visible {
    visibility: visible; }

.auth-panel__wrapper {
  grid-area: main;
  justify-self: center;
  align-self: center;
  min-height: 60rem;
  min-width: 32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgba(57, 79, 96, 0.05); }

.padlock__wrapper #closed {
  opacity: 1;
  transition: opacity .3s; }

.padlock__wrapper--opened #closed {
  opacity: 0; }

.padlock__wrapper--opened #padlock-icon {
  fill: #669933; }

.padlock__wrapper--opened #logo {
  stroke: #D7F4B9; }

.padlock__wrapper--error {
  animation: padlock-blink ease .3s; }
  .padlock__wrapper--error #padlock-icon {
    fill: #D98C8C; }
  .padlock__wrapper--error #logo {
    stroke: #FDDEDE; }

@keyframes padlock-blink {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(0.9); }
  66% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.auth-panel__message {
  color: #7F9CB3; }
  .auth-panel__message--error {
    color: #D98C8C; }
  .auth-panel__message--ok {
    color: #669933; }

.auth-panel__pin {
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #DAE7F1;
  text-align: center;
  margin: 1.5rem 0 3.5rem 0; }
  .auth-panel__pin::placeholder {
    color: #E5E5E5; }
  .auth-panel__pin input:focus:not(.valid.modified):not(.invalid)s {
    box-shadow: inset 0 0 0 1px #90B7D5; }

.auth-panel__buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-gap: 3rem; }

.auth-panel__button {
  background-color: #DAE7F1;
  color: #394F60;
  border: none;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: transform ease .1s;
  width: 5rem;
  height: 5rem;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(57, 79, 96, 0.05); }
  .auth-panel__button img, .auth-panel__button svg {
    width: 2rem; }
  .auth-panel__button:disabled {
    cursor: not-allowed; }
    .auth-panel__button:disabled img {
      opacity: .5; }
  .auth-panel__button:active {
    transform: scale(0.9); }
  .auth-panel__button--ok {
    background-color: #D7F4B9; }
  .auth-panel__button--clear {
    background-color: #FDDEDE; }
    .auth-panel__button--clear img {
      width: 3rem; }

.memo-view__wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  grid-row-gap: 3rem;
  padding: 6rem 0 5rem 0;
  color: #394F60; }

.memo-view__title {
  grid-column: 1/3;
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
  color: #263540; }

.memo-view__text {
  grid-column: 1/3;
  justify-self: stretch;
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  height: auto;
  padding: 2rem;
  background-color: #fff; }
  .memo-view__text::placeholder {
    color: #E5E5E5; }
  .memo-view__text input:focus:not(.valid.modified):not(.invalid)s {
    box-shadow: inset 0 0 0 1px #90B7D5; }

.memo-view__date {
  display: flex; }
  .memo-view__date span {
    margin-right: 1rem; }
  .memo-view__date--centered {
    grid-column: 1/3; }

.memo-view__date-label {
  color: #7F9CB3; }

.memo-edit__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 6rem 0 5rem 0;
  color: #394F60; }

.memo-edit__title {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: #263540; }

.memo-edit__text {
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  flex-grow: 1;
  height: auto;
  padding: 2rem;
  margin: 3rem 0; }
  .memo-edit__text::placeholder {
    color: #E5E5E5; }
  .memo-edit__text input:focus:not(.valid.modified):not(.invalid)s {
    box-shadow: inset 0 0 0 1px #90B7D5; }

.memo-edit__grid {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto); }

.memo-edit__expires-label {
  display: flex;
  align-items: center;
  margin-right: 2rem; }

.memo-edit__expires-checkbox {
  margin: 0 1rem; }

.memo-edit__expires-date {
  grid-column: 2/3;
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 1rem;
  outline: none; }
  .memo-edit__expires-date::placeholder {
    color: #E5E5E5; }
  .memo-edit__expires-date input:focus:not(.valid.modified):not(.invalid)s {
    box-shadow: inset 0 0 0 1px #90B7D5; }
  .memo-edit__expires-date:disabled {
    color: #E5E5E5; }

.memo-edit__expires-validation {
  grid-column: 1/3; }

.memo-edit__save-button {
  grid-row: 3/4;
  grid-column: 1/3;
  border: none;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: transform ease .1s;
  padding: 0 2.5rem;
  margin-top: 3rem;
  background-color: #DAE7F1; }
  .memo-edit__save-button img, .memo-edit__save-button svg {
    width: 2rem; }
  .memo-edit__save-button:disabled {
    cursor: not-allowed; }
    .memo-edit__save-button:disabled img {
      opacity: .5; }
  .memo-edit__save-button:active {
    transform: scale(0.9); }
  .memo-edit__save-button img, .memo-edit__save-button svg {
    margin-right: 1rem; }
  .memo-edit__save-button span {
    flex-grow: 1; }
  .memo-edit__save-button path {
    fill: #7F9CB3; }

.more-menu__wrapper {
  grid-area: menu;
  align-self: start;
  justify-self: end;
  margin: 3rem 3rem 0 0;
  position: relative;
  z-index: 100; }

.more-menu__menu-button {
  border: none;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: transform ease .1s;
  width: 5rem;
  height: 5rem;
  background-color: transparent; }
  .more-menu__menu-button img, .more-menu__menu-button svg {
    width: 2rem; }
  .more-menu__menu-button:disabled {
    cursor: not-allowed; }
    .more-menu__menu-button:disabled img {
      opacity: .5; }
  .more-menu__menu-button:active {
    transform: scale(0.9); }
  .more-menu__menu-button img {
    transition: transform ease .3s;
    width: auto; }
  .more-menu__menu-button--expanded {
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05); }
    .more-menu__menu-button--expanded img {
      transform: rotate(90deg); }

.more-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  min-width: 15rem;
  color: #263540;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05); }

.more-menu__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 3rem;
  white-space: nowrap;
  cursor: pointer; }
  .more-menu__list-item:hover {
    background-color: #DAE7F1; }
  .more-menu__list-item--selected {
    color: #7F9CB3;
    background-color: #DAE7F1; }

.more-menu__remove-question {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
  padding-bottom: 1.5rem; }
  .more-menu__remove-question span {
    grid-column: 1/3;
    margin: 1.5rem;
    color: #C03F3F; }

.more-menu__question-button {
  border: none;
  border-radius: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: transform ease .1s;
  width: 4rem;
  height: 3rem;
  font-size: .8em;
  background-color: #DAE7F1; }
  .more-menu__question-button img, .more-menu__question-button svg {
    width: 2rem; }
  .more-menu__question-button:disabled {
    cursor: not-allowed; }
    .more-menu__question-button:disabled img {
      opacity: .5; }
  .more-menu__question-button:active {
    transform: scale(0.9); }
  .more-menu__question-button--yes {
    color: #C03F3F;
    background-color: #FDDEDE; }

.valid.modified:not([type=checkbox]) input {
  outline: none; }
  .valid.modified:not([type=checkbox]) input:focus {
    box-shadow: inset 0 0 0 1px #669933; }

.invalid input,
textarea.invalid {
  outline: none;
  box-shadow: inset 0 0 0 2px #D98C8C; }

.validation-message {
  color: #C03F3F;
  font-size: .8em; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: Max(2vmin, 1.6rem);
  background-color: #F4F8FB;
  color: #263540; }

.validation-input__wrapper {
  position: relative;
  display: inline-grid; }
  .validation-input__wrapper input {
    width: 100%; }
  .validation-input__wrapper img {
    position: absolute;
    right: 1rem;
    width: 2rem;
    top: 50%;
    transform: translateY(-50%); }
