@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-color: #FCFDFD; }

.not-found-page__wrapper {
  color: #394F60; }

.not-found-page__header {
  color: #7F9CB3; }

.not-found-page__link {
  color: #7F9CB3;
  text-decoration: underline; }

.not-found-page__background-image {
  position: absolute;
  z-index: -1; }

.index-page__add-button {
  background-color: #DAE7F1;
  color: #394F60; }

.index-page__search-wrapper {
  background-color: #90B7D5;
  color: #263540; }

.index-page__search-button:disabled img {
  opacity: .5; }

.index-page__footer {
  color: #7F9CB3; }

.index-page__background-image {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: -1; }

.add-page__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.add-page__logo {
  background-image: url(/assets/logo-xl.svg);
  width: 300px;
  height: 130px; }

.add-page__add-button {
  display: flex;
  justify-content: center;
  align-items: center; }
  .add-page__add-button span {
    flex-grow: 1; }

.add-page__background-image {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: -1; }

.input-text__wrapper {
  position: relative; }
  .input-text__wrapper input {
    width: 100%; }

.input-text__validation-marker {
  position: absolute;
  right: 1rem;
  width: 2rem;
  top: 50%;
  transform: translateY(-50%); }

.preview-page__loader {
  position: absolute;
  width: 20vmin;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.preview-page__background-image {
  position: fixed;
  right: 0;
  bottom: 2rem;
  z-index: -1; }

.log-in__wrapper {
  background-color: #ffffff; }

.padlock__wrapper--opened #closed {
  display: none; }

.padlock__wrapper--opened #padlock-icon {
  fill: #669933; }

.padlock__wrapper--opened #logo {
  stroke: #D7F4B9; }

.padlock__wrapper--error #padlock-icon {
  fill: #D98C8C; }

.padlock__wrapper--error #logo {
  stroke: #FDDEDE; }

.log-in__message {
  color: #7F9CB3; }
  .log-in__message--error {
    color: #D98C8C; }
  .log-in__message--ok {
    color: #33580E; }

.log-in__button {
  background-color: #DAE7F1;
  color: #394F60; }
  .log-in__button--ok {
    background-color: #D7F4B9; }
  .log-in__button--clear {
    background-color: #FDDEDE; }
