
<div class="memo-edit__wrapper">

    <h3 class="memo-edit__title">
        @Memo.Title
    </h3>

    <EditForm class="memo-edit__form" Model="@Memo" OnValidSubmit="Save">
        <DataAnnotationsValidator />

        <InputTextArea class="memo-edit__text" @bind-Value="Memo.Text" placeholder="message" />
        <ValidationMessage For="() => Memo.Text" />

        <div class="memo-edit__form-row">
            <label class="memo-edit__label">
                Expires:
                <InputCheckbox class="memo-edit__expires-checkbox" @bind-Value="Memo.EnabledValidTo" />
            </label>
            <InputDate class="memo-edit__expires-date" @bind-Value="Memo.ValidTo" />
        </div>

        <button type="submit" class="memo-edit__save-button">
            <SvgImage SvgUrl="/assets/check-icon.svg" />
            <span>Save</span>
        </button>

    </EditForm>

</div>

@code {
    [Parameter]
    public MemoEditModel Memo { get; set; }
    [Parameter]
    public EventCallback<MemoEditModel> OnSave { get; set; }

    async Task Save() => await OnSave.InvokeAsync(Memo);

}
