
<div class="search-box__wrapper">

    <div class="search-box__grid">

        <div class="search-box__label">
            Go to your memo
        </div>

        <input class="search-box__input" type="text" placeholder="title"
               @bind-value="title" @bind-value:event="oninput" @onkeyup="OnKeyDown" @ref="inputRef" />

        <button class="search-box__button" disabled=@buttonDisabled @onclick="OnClick" title="go to memo">
            <img src="/assets/goto-icon.svg" alt="go to memo">
        </button>
    </div>

</div>


@code{
    [Parameter]
    public EventCallback<string> OnGoTo { get; set; }

    string title;

    bool buttonDisabled => string.IsNullOrWhiteSpace(title);

    ElementReference inputRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await inputRef.FocusAsync();
    }

    async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
            await OnClick();
    }

    async Task OnClick()
    {
        if (!buttonDisabled)
            await OnGoTo.InvokeAsync(title);
    }
}