@import 'shared';

.add-page__wrapper {
    width: 100vw;
    height: 100%;
    display: grid;
    align-items: start;
    justify-items: stretch;
    grid-template: "logo form ." auto ". form ." 1fr /1fr 2fr 1fr;
    color: $blue-3;

    @media (max-width: $brakepoint-s) {
        grid-template: "form" 1fr /1fr;
    }

    input, textarea {
        color: $blue-3;
    }

    .validation-message {
        margin-top: 0.5rem;
        text-align: center;
    }
}

.add-page__logo {
    grid-area: logo;
    @include logo;

    @media (max-width: $brakepoint-s) {
        display: none;
    }
}

.add-page__form {
    grid-area: form;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    @media (max-width: $brakepoint-m) {
        padding-top: 1rem;
    }

    @media (max-width: $brakepoint-s) {
        width: 100vw;
        padding: 0 3rem;
    }
}

.add-page__background-image {
    @include page-background-image;
}

@mixin row {
    margin-top: 3rem;

    @media (max-width: $brakepoint-s) {
        margin-top: 2rem;
    }
}

.memo-add__row {
    display: flex;
    align-items: center;
    @include row;
}

.memo-add__logo {
    display: none;

    @media (max-width: $brakepoint-s) {
        display: block;
        margin-right: 1.5rem;
    }
}

.memo-add__url {
    @include input;
    background-color: $white-7;
    flex-grow: 1;
    width: 100%;
}

.memo-add__title {
    @include input-wrapped;
}

.memo-add__text {
    @include input-text;
    flex-grow: 1;
}

.memo-add__form-grid {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;

    .validation-message {
        grid-column: 1/3;
    }
}

.memo-add__grid-row {
    @include row;

    &--tight {
        margin-top: 1.5rem;
    }

    &--wide {
        grid-column: 1/3;
    }
}

.memo-add__grid-label {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    grid-column: 1/2;

    &--expires {
        white-space: nowrap;

        input {
            margin: 0 1rem;
        }
    }
}

.memo-add__grid-value {
    grid-column: 2/3;
    max-width: 17rem;

    &--expires {
        @include input-date;
    }

    &--pin {
        @include input-wrapped;

        input {
            text-align: center;
        }
    }
}

.memo-add__add-button {
    grid-column: 1/3;
    @include button-text;
    color: $green-1;
    background-color: $green-9;
    margin-bottom: 3rem;
}
