@import 'shared';

.add-page__wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: start;
    justify-items: stretch;
    grid-template: "logo form ." auto ". form ." 1fr /1fr 2fr 1fr;
    color: $blue-3;

    @media (max-width: $brakepoint-s) {
        grid-template: "form" 1fr /1fr;
    }

    input, textarea {
        color: $blue-3;
    }
}

.add-page__logo {
    grid-area: logo;
    @include logo;

    @media (max-width: $brakepoint-s) {
        display: none;
    }
}

.add-page__form {
    grid-area: form;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

    @media (max-width: $brakepoint-m) {
        padding-top: 1rem;
    }

    @media (max-width: $brakepoint-s) {
        width: 100vw;
        padding: 0 3rem;
    }
}

.add-page__background-image {
    @include page-background-image;
}


.memo-add__form-grid {
    align-self: center;
    display: grid;
    grid-template:
        "expires-label expires" auto "expires-error expires-error" auto "pin-label pin" auto "pin-error pin-error" auto "confirm-label confirm" auto "confirm-error confirm-error" "button button" / 1fr 2fr;
}

.memo-add__row {
    display: flex;
    align-items: center;
    margin-top: 3rem;

    @media (max-width: $brakepoint-s) {
        margin-top: 2rem;
    }

    &--tight {
        margin-top: 1.5rem;
    }

    &--validation {
        margin-top: 0.5rem;
        text-align: center;
    }
}

.memo-add__logo {
    display: none;

    @media (max-width: $brakepoint-s) {
        display: block;
        margin-right: 1.5rem;
    }
}

.memo-add__url {
    @include input;
    background-color: $white-7;
    flex-grow: 1;
    width: 100%;
}

.memo-add__title {
    @include input-wrapped;
}

.memo-add__text {
    @include input-text;
    flex-grow: 1;
}

.memo-add__label {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;

    &--expires {
        grid-area: expires-label;
        white-space: nowrap;
    }

    &--pin {
        grid-area: pin-label;
    }

    &--confirm {
        grid-area: confirm-label;
    }
}

.memo-add__expires-checkbox {
    margin: 0 1rem;
}

.memo-add__expires-date {
    grid-area: expires;
    @include input-date;
    max-width: 17rem;
}

.memo-add__expires-error {
    grid-area: expires-error;
}

.memo-add__pin {
    grid-area: pin;
    @include input-wrapped;
    width: 17rem;

    input {
        text-align: center;
    }

    &--confirm {
        grid-area: confirm;
    }
}

.memo-add__pin-error {
    grid-area: pin-error;
}

.memo-add__confirm-error {
    grid-area: confirm-error;
}

.memo-add__add-button {
    grid-area: button;
    @include button-text;
    color: $green-1;
    background-color: $green-9;
    margin-bottom: 3rem;
}
