@import 'shared';

$mid-brakepoint: 600px;

.not-found-page__wrapper {
    color: $blue-3;
    font-size: 2em;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 50fr 15fr 20fr 15fr;
    align-items: center;
    justify-content: center;

    p {
        align-self: start;
    }

    @media (min-width: $mid-brakepoint) {
        margin-left: 30vw;
        display: flex;
        flex-direction: column;

        p {
            margin: 5vh 1em 10vh 1em;
            align-self: normal;
        }
    }
}

.not-found-page__background-image {
    height: 60vmin;
    z-index: -1;
    justify-self: center;

    @media (min-width: $mid-brakepoint) {
        position: absolute;
        right: 35%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.not-found-page__header {
    color: $blue-5;
    font-size: 1.5em;
    font-weight: 400;
}

.not-found-page__link {
    color: $blue-5;
    text-decoration: underline;

    &:hover {
        color: $blue-3;
    }
}

