@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import 'shared';
@import 'index';
@import 'notFound';
@import 'add';
@import 'preview';

.valid.modified:not([type=checkbox]) input {
    outline: none;

    &:focus {
        box-shadow: inset 0 0 0 1px $green-5;
    }
}

.invalid input,
textarea.invalid {
    outline: none;
    box-shadow: inset 0 0 0 2px $red-5;
}

.validation-message {
    color: $red-3;
    font-size: .8em;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5% // 1rem === 10px
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: Max(2vmin, 1.6rem);
    background-color: $page-background-color;
    color: $blue-1;
}





.validation-input__wrapper {
    position: relative;
    display: inline-grid;

    input {
        width: 100%;
    }

    img {
        position: absolute;
        right: 1rem;
        width: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
}


