
<div class="memo-view__wrapper">

    <textarea class="memo-view__text" disabled>
        @Memo.Text
    </textarea>

    <div class="@cssCreated">
        <span class="memo-view__date-label">
            Created:
        </span>
        @Memo.Created.ToShortDateString()
    </div>

    @if (expires)
    {
        <div class="memo-view__date">
            <span class="memo-view__date-label">
                Expires:
            </span>
            @Memo.Expires.Value.ToShortDateString()
        </div>
    }

</div>


@code {
    [Parameter]
    public MemoReadModel Memo { get; set; }

    bool expires => Memo.Expires is not null;
    string cssCreated => expires ? "memo-view__date" : "memo-view__date memo-view__date--centered";

}
