
<EditForm Model="@memo" OnValidSubmit="AddMemo" @attributes="InputAttributes">

    <DataAnnotationsValidator />

    <div class="memo-add__row">
        <LogoSmall class="memo-add__logo" />

        <input type="text" class="memo-add__url" placeholder="generated url" readonly
               value="@memo.Url" />
    </div>

    <ValidationInput class="memo-add__title memo-add__row" placeholder="title"
                     @bind-Value="@memo.Title"
                     ValidationFunction="() => ValidateField(nameof(memo.Title))" OnTextChanged="GenerateUrl" />
    <ValidationMessageRow For="() => memo.Title" />

    <InputTextArea class="memo-add__text memo-add__row" @bind-Value="memo.Text" placeholder="message" />
    <ValidationMessageRow For="() => memo.Text" />

    <div class="memo-add__form-grid">
        <label class="memo-add__label memo-add__label--expires memo-add__row">
            <InputCheckbox class="memo-add__expires-checkbox" @bind-Value="memo.EnabledExpires" />
            Expires:
        </label>
        <InputDate class="memo-add__expires-date memo-add__row" @bind-Value="memo.Expires" disabled="@(!memo.EnabledExpires)" />
        <ValidationMessageRow class="memo-add__expires-error" For="() => memo.Expires" />

        <label class="memo-add__label memo-add__label--pin memo-add__row" for="pin">
            Pin:
        </label>
        <ValidationInput class="memo-add__pin memo-add__row" id="pin"
                         @bind-Value="memo.Pin"
                         InputType="password" ValidationFunction="() => ValidateField(nameof(memo.Pin))" />
        <ValidationMessageRow class="memo-add__pin-error" For="() => memo.Pin" />

        <label class="memo-add__label memo-add__label--confirm memo-add__row--tight" for="confirm">
            Confirm:
        </label>
        <ValidationInput class="memo-add__pin memo-add__pin--confirm memo-add__row--tight" id="confirm"
                         @bind-Value="memo.ConfirmPin"
                         InputType="password" ValidationFunction="() => ValidateField(nameof(memo.ConfirmPin))" />
        <ValidationMessageRow class="memo-add__confirm-error" For="() => memo.ConfirmPin" />

        <button type="submit" class="memo-add__add-button memo-add__row">
            <img src="/assets/add-icon.svg" />
            <span>Add memo</span>
        </button>

    </div>

</EditForm>

@code {
    [Parameter]
    public EventCallback<MemoNewModel> OnAdd { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }


    MemoNewModel memo = new MemoNewModel();

    bool ValidateField(string field)
    {
        var errors = memo.Validate();
        return !errors.Where(r => r.MemberNames.Contains(field)).Any();
    }

    void GenerateUrl()
    {
        memo.Url = Helpers.GetUrl(memo.Title);
        StateHasChanged();
    }

    async Task AddMemo(EditContext editContext) => await OnAdd.InvokeAsync(memo);
}
