
<div @attributes="InputAttributes" class="@cssClass">
    <ValidationMessage For="For" />
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }
    [Parameter]
    public System.Linq.Expressions.Expression<Func<object>>? For { get; set; }
    [Parameter]
    public string BaseClass { get; set; } = "memo-add__row--validation";

    string cssClass =>
        (InputAttributes is not null && InputAttributes.TryGetValue("class", out object value))
            ? $"{BaseClass} {value}"
            : BaseClass;

}
