@page "/add"

@inject IMemosRepo memosRepo
@inject ITokenManager tokenManager
@inject NavigationManager navigationManager

<div class="add-page__wrapper">

    <Logo class="add-page__logo" />

    <MemoAdd class="add-page__form" OnAdd="@AddMemo" Errors="@errors" />

    <img class="add-page__background-image" src="/assets/add-image.svg" />

</div>

@code {

    string[] errors;

    async Task AddMemo(MemoNewModel memo)
    {
        errors = await memosRepo.ValidateMemoAsync(memo);
        if (errors.Any())
            return;

        if (await memosRepo.CreateMemoAsync(memo))
        {
            var token = tokenManager.CreateToken(memo.Pin);
            navigationManager.NavigateTo($"/view/{memo.Url}/{token}");
        }
        else
        {
            errors = new string[] { "An error occurred while saving memo. Try again later" };
        }
    }

}
