@page
@model Memo.BlazorApp.Pages.ErrorModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/style.min.css" rel="stylesheet" />
</head>

<body>
    <div class="error-page__wrapper">

        <h1>Error</h1>

        <h2>An error occurred while processing your request</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</body>

</html>
