@page "/"

@inject NavigationManager navigationManager;

<div class="index-page__wrapper">

    <LogoLarge class="index-page__logo" />

    <button class="index-page__add-button" title="add new memo" @onclick="AddMemo">
        <SvgImage SvgUrl="/assets/add-icon.svg" />
        <span>Add new</span>
    </button>

    <SearchBox OnGoTo="@GoToMemo" />

    <div class="index-page__footer">
        © 2021
    </div>

    <img class="index-page__background-image" src="/assets/index-image.svg" />

</div>

@code{

    void GoToMemo(string title)
    {
        var url = Helpers.GetUrl(title);
        navigationManager.NavigateTo($"/view/{url}");
    }

    void AddMemo()
    {
        navigationManager.NavigateTo($"/add");
    }
}