@page "/404"

<div class="not-found-page__wrapper">

    <img class="not-found-page__background-image" src="/assets/not-found-image.svg" />

    <h2 class="not-found-page__header">Not found</h2>

    <p>Invalid url or memo has expired</p>

    <a class="not-found-page__link" href="/">back to start page</a>

</div>

@code {

}
