@page "/view/{url}"

@inject NavigationManager navigationManager
@inject IMemosRepo memosRepo

<div class="preview-page__wrapper">

    @if (memoModel is null)
    {
        <img class="preview-page__loader" src="/assets/loader.svg" alt="loading..." />
    }
    else
    {

        @if (isLoggedIn)
        {
            <MemoPreview Memo="@memoModel" />

            <img class="preview-page__background-image" src="/assets/preview-image.svg" />
        }
        else
        {
            <LogIn />

            <img class="preview-page__background-image" src="/assets/login-image.svg" />
        }


    }

</div>

@code {
    [Parameter]
    public string Url { get; set; }

    MemoModel memoModel;

    bool isLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        var memo = await memosRepo.GetMemoByUrl(Url);
        if (memo is not null)
            memoModel = memo;
        else
            navigationManager.NavigateTo("/404");
    }

}
